<header class="hidden md:flex justify-between bg-linear-to-r from-yellow-500 to-yellow-600  p-2 sm:px-8 sm:py-6 sm:rounded-2xl shadow-2xl font-semibold text-gray-800">
    <div class="flex flex-col gap-2">
        <h1 class="text-3xl">{{title}}</h1>
        <p class="hidden md:block">{{subtitle}}</p>
    </div>

    <div class="flex gap-4 self-center hover:shadow-xl transition duration-200">
        <a routerLink="/profile" class="flex items-center rounded-xl py-2 px-4 gap-3 hover:bg-opacity-50 hover:bg-amber-400 transition-all duration-200 cursor-pointer offset-shadow">
            <img src="{{getProfileImageSrc()}}" class="rounded-full w-11 h-11 opacity-90 shadow-all">

            <p
            [class.text-blue-100]="userGender() === 1"
            [class.text-rose-100]="userGender() === 2"
            [class.text-slate-100]="userGender() === 3"
            class="hidden lg:block">{{fullName()}}</p>
        </a>
    </div>

</header>


<header class="flex grow md:hidden bg-linear-to-r from-yellow-500 to-yellow-400 rounded-b-xl">
    <h2 class="text-center w-[90%] mx-auto my-2 text-3xl text-slate-800 font-semibold">{{title}}</h2>
</header>
