<aside class="flex flex-col w-70 bg-linear-to-b from-yellow-500 to-yellow-600 shadow-2xl rounded-tr-2xl rounded-2xl">
    <div class="flex flex-col shadow-lg rounded-b-3xl rounded-2xl bg-linear-to-b from-yellow-500 to-yellow-600">
        <img
        src="logo.png"
        class="w-50 h-50 mx-auto rounded-full"
        alt="LOGO"
        />

    </div>

    <div class="flex flex-col p-4 h-full text-lg text-gray-800 font-semibold">
        <ul class="flex flex-col py-2 gap-2 w-full">
            <li class="w-full hover:border-l-6 hover:border-yellow-600 hover:bg-yellow-500 transition-all">
                <a class="flex items-center transition-all hover:ml-2 gap-4 w-full py-2">
                    <ng-icon name="faSolidUser" class="text-gray-700 shrink-0"></ng-icon>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="w-full hover:border-l-6 hover:border-yellow-600 hover:bg-yellow-500 transition-all">
                <a class="flex items-center transition-all hover:ml-2 gap-4 w-full py-2">
                    <ng-icon name="faSolidDumbbell" class="text-gray-700 shrink-0"></ng-icon>
                    <span>Workouts</span>
                </a>
            </li>

            <li class="w-full hover:border-l-6 hover:border-yellow-600 hover:bg-yellow-500 transition-all">
                <a class="flex items-center transition-all hover:ml-2 gap-4 w-full py-2">
                    <ng-icon name="faSolidFireFlameCurved" class="text-gray-700 shrink-0"></ng-icon>
                    <span>Calorie logs</span>
                </a>
            </li>

            <li class="w-full hover:border-l-6 hover:border-yellow-600 hover:bg-yellow-500 transition-all">
                <a class="flex items-center transition-all hover:ml-2 gap-4 w-full py-2">
                    <ng-icon name="faSolidBook" class="text-gray-700 shrink-0"></ng-icon>
                    <span>Exercise library</span>
                </a>
            </li>

            <li class="w-full hover:border-l-6 hover:border-yellow-600 hover:bg-yellow-500 transition-all">
                <a class="flex items-center transition-all hover:ml-2 gap-4 w-full py-2">
                    <ng-icon name="faSolidChartLine" class="text-gray-700 shrink-0"></ng-icon>
                    <span>Goals and progress</span>
                </a>
            </li>

            <li class="w-full hover:border-l-6 hover:border-yellow-600 hover:bg-yellow-500 transition-all">
                <a class="flex items-center transition-all hover:ml-2 gap-4 w-full py-2">
                    <ng-icon name="faSolidGear" class="text-gray-700 shrink-0"></ng-icon>
                    <span>Settings</span>
                </a>
            </li>


        </ul>
        <div class="w-full mt-auto hover:border-l-6 hover:border-red-900 hover:bg-yellow-500 transition-all">
            <a class="flex items-center transition-all hover:ml-2 gap-4 w-full py-2">
                <ng-icon name="faSolidGear" class="text-red-700! shrink-0"></ng-icon>
                <span class="text-red-700">Logout</span>
            </a>
        </div>
    </div>

</aside>
