<div class="sticky shadow-top md:hidden px-2 py-2 rounded-t-xl bg-linear-to-r from-yellow-500 to-yellow-400">
    <div class="flex justify-evenly text-2xl text-slate-800 sm:text-2xl">
        <a routerLink="/dashboard" class="transition active:scale-95 hover:text-slate-600 active:bg-slate-200 rounded-full p-3">
            <ng-icon name="faSolidChartLine" class="shrink-0"></ng-icon>

        </a>

        <a routerLink="/workouts" class="transition active:scale-95 hover:text-slate-600 active:bg-slate-200 rounded-full p-3">
            <ng-icon name="faSolidDumbbell" class="shrink-0"></ng-icon>

        </a>

        <a routerLink="" class="transition active:scale-95 hover:text-slate-600 active:bg-slate-200 rounded-full p-3">
            <ng-icon name="faSolidBowlRice" class="shrink-0"></ng-icon>

        </a>

        <a routerLink="" class="transition active:scale-95 hover:text-slate-600 active:bg-slate-200 rounded-full p-3">
            <ng-icon name="faSolidUser" class="shrink-0"></ng-icon>

        </a>

        <a (click)="onSidebarOpen()" class="transition active:scale-95 hover:text-slate-600 active:bg-slate-200 rounded-full p-3">
            <ng-icon name="faSolidBars" class="shrink-0"></ng-icon>

        </a>
    </div>
</div>
