@import 'tailwindcss';
@import './mat_snackbar.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.shadow-all {
  box-shadow: 0 0 5px #333;
}

.offset-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.shadow-top {
  box-shadow: 0 -5px 5px -5px #333;
}

@keyframes typewriter {
  from {
    max-width: 0%;
  }
  to {
    max-width: var(--target-width);
  }
}

:root {
  --animate-typewriter: typewriter 2s steps(50, end) forwards;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: var(--animate-typewriter);
}
