@import 'tailwindcss';
@import './mat_snackbar.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.shadow-all {
  box-shadow: 0 0 5px #333;
}

.offset-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.shadow-top {
  box-shadow: 0 -5px 5px -5px #333;
}

@theme {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 12ch;
    }
  }

  --animate-typewriter: typewriter 2s linear forwards;
}
