<main class="flex h-screen md:p-2 gap-4 max-w-480 mx-auto">
    <app-sidebar (logout)="logout()" (close)="closeSidebar()" [isOpen]="isSidebarOpen" class="h-full fixed md:static flex shadow-all rounded-2xl z-100"></app-sidebar>


    <div class="flex flex-col w-full md:gap-5 min-h-0 ">

        <app-header class="shadow-all rounded-2xl" [fullName]="fullName" [userImage]="userImage" [userGender]="userGender"></app-header>

        <div class="flex-1 shadow-all overflow-y-auto min-h-0 p-2 sm:p-4 md:shadow-2xl md:rounded-2xl md:bg-linear-to-br from-slate-400/30 to-slate-500/40">
            <div class="w-full mx-auto">
                <router-outlet class="w-full"></router-outlet>
            </div>
        </div>


        <app-bottom-nav (openSidebar)="openSidebar()"></app-bottom-nav>

    </div>

</main>
