<main class="flex h-screen md:p-2 gap-5">
    <app-sidebar (logout)="logout()" (close)="closeSidebar()" [isOpen]="isSidebarOpen" class="h-full fixed md:static flex z-150"></app-sidebar>


    <div class="flex flex-col w-full md:gap-5 min-h-0">

        <app-header class="z-100 shadow-lg" [userFirstName]="userFirstName" [userLastName]="userLastName"></app-header>

        <div class="flex-1 overflow-y-auto min-h-0 p-2 sm:p-4">
            <div class="w-full mx-auto">
                <router-outlet class="w-full"></router-outlet>
            </div>
        </div>


        <app-bottom-nav (openSidebar)="openSidebar()"></app-bottom-nav>

    </div>

</main>
